@font-face{
    font-family: "Rubik-Medium" ;
    src: url(font/Rubik-Medium.ttf);
}
body {
    
    margin: 0;
    padding: 0;
}

/* CONTAINER ACCUEIL & DECHETS */
.containerAccueil,
.containerDechets {
    width: 414px;
    /* height: 736px; */
    border: 1px black solid;
    background-color: #eedada;
    display: flex;
    flex-direction: column;
   
}

.containerAccueil .handshake,
.containerDechets .handshake {
    width: 414px;
    height: 179px;
}


.containerAccueil h1,
.containerDechets h1{
    background-color: #7c9465;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    height: 50px;
    margin-top: -7px;
    font-family:"Rubik-Medium" ;

}

/* MENU ACCUEIL & DECHETS */
.containerAccueil .menu ul,
.containerDechets .menu ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-top: -35px;
    background-color:#7c9465;
    padding-left: 0.2em;
}

.containerAccueil .menu ul li,
.containerDechets .menu ul li {
    font-size: 13px;
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 0.4em;
    font-weight: bold;
}

.containerAccueil a,
.containerDechets a {
    text-decoration: none;
    color: black;
}
.containerAccueil a:hover,
.containerDechets a:hover{
    color: white;
}
.box{
    border-radius: 28px;
background: #7c9465;
box-shadow:  -8px -8px 17px #536344, 
             8px 8px 17px #a5c586;
}

.containerAccueil .sousContainer,
.containerDechets .sousContainer {
    margin-bottom: 10px;
}

/* SOUS-CONTAINER */
h3{
    text-align: center;
    font-size: 15px;
    color: #7c9465;
}

.containerAccueil .sousContainer ul,
.containerDechets .sousContainer ul {
    font-size: 13px;
    list-style-type: none;
}

.containerAccueil .sousContainer p,
.containerDechets .sousContainer p {
    font-size: 0.9em;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2.5em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: #BCC9B1;
    margin-bottom: 0;
}





/* CONTAINER ACCUEIL */
.containerAccueil .sousContainer .haut{
    text-align: center;
}
.containerAccueil .sousContainer .milieu p{
    font-weight: bold;
}

.containerAccueil .sousContainer .milieu {
    text-align: left;
    margin-left: 5.7em;
}

.containerAccueil .sousContainer .bas{
    text-align: center;
}

.containerAccueil .sousContainer .bas a{
    color: black;
    font-weight: bold;
}
.containerAccueil .sousContainer .bas a:hover{
    color: #7c9465;
}



/* CONTAINER DECHETS */
.containerDechets .sousContainer .info {
    font-size: 11px;
    text-align: center;
    color: #947c7c;
    
}
.containerDechets .sousContainer h4{
    font-size: 14px;
    text-decoration: underline;
    text-align: center;
}


strong {
    text-transform: uppercase;
    font-size: 0.85em;
}
